@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Kosugi+Maru&family=PT+Mono&family=Sawarabi+Mincho&display=swap');

html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project{
    padding: 20px 40px;
}

.project:nth-child(last){
    opacity: 0.3;
}

.pointOne{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number{
    font-size: 120px;
    margin-right: 50px;
    font-style: italic;
    font-family: 'Agdasima', sans-serif;
}

.summery{
    font-family: 'Sawarabi Mincho', serif; 
    font-weight: bold;
    font-size: 23px;
    word-spacing: 12px;
}

.time{
    font-family: 'PT Mono', monospace;
    margin-bottom: 10px;
}

.content{
    font-family: 'Kosugi Maru', sans-serif;
}

.img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('https://bingw.jasonzeng.dev');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
